.home-section
{
    position: relative;
    height: 100vh;

}
.intro-text
{   
    text-align: center;
    position: relative;
    h3
    {
        font-size: 2em;
        font-family: $base-font-family;
        font-weight: 600;
        color: white;
        text-shadow: 1px 1px 3px black;
    }

    .second-word
    {
        font-style: italic; 
        font-weight:500;
        font-size: 0.5em;
    }

    p
    {
        font-style: italic; 
        margin-top: 4em;
        color: white;
        text-shadow: 1px 1px 3px black;
    }
    
}
.scroll-animation
{
    position: absolute;
    bottom: 20px;
    right: 15%;
    
    a
    {
        color: white;
        font-weight: 500;
        font-size: 0.95em;
    }
  
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}


@media(max-width: 400px) {

    .scroll-animation
    {
        right: 50px;
    }
}